In [1]:
import pandas as pd

Factors that may determine property value:

External - Income growth, unemployment, population growth, interest rates
Intrinsic - Dist to MRT, HAWKER, SCHOOLS, CBD
            Size
            Age of building
            View/Orientation
            Height
            Demographics
            

Data Sources: 
Income  - https://data.gov.sg/dataset/income-of-individuals-by-income-type-annual 

Unemployment - https://data.gov.sg/dataset/jvetoue-qtrly

Distance to amenities - https://data.gov.sg/dataset/resale-flat-prices + HAWKERS https://data.gov.sg/dataset/list-of-government-markets-hawker-centres + MRT https://github.com/hxchua/datadoubleconfirm/blob/master/datasets/mrtsg.csv + SCHOOLS (pri to pre-tieriary) https://data.gov.sg/dataset/school-directory-and-information?resource_id=ede26d32-01af-4228-b1ed-f05c45a1d8ee + Using Cityhall mrt as CBD

Demographics - https://www.singstat.gov.sg/find-data/search-by-theme/population/geographic-distribution/latest-data

Value of property - https://data.gov.sg/dataset/resale-flat-prices

Height - https://data.gov.sg/dataset/hdb-property-information

Interest Rates - https://eservices.mas.gov.sg/statistics/dir/DomesticInterestRates.aspx


Questions to answer:

What factors influence property prices?

In [2]:
value_df = pd.read_csv("Resale value 2017-now.csv")
value_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...
122671,2022-03,YISHUN,EXECUTIVE,355,YISHUN RING RD,10 TO 12,146.0,Maisonette,1988,65 years 08 months,800000.0
122672,2022-03,YISHUN,EXECUTIVE,277,YISHUN ST 22,10 TO 12,146.0,Maisonette,1985,62 years 06 months,788000.0
122673,2022-03,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,142.0,Apartment,1987,64 years 09 months,800000.0
122674,2022-03,YISHUN,EXECUTIVE,828,YISHUN ST 81,01 TO 03,142.0,Apartment,1988,64 years 11 months,723000.0
122675,2022-03,YISHUN,EXECUTIVE,877,YISHUN ST 81,10 TO 12,145.0,Maisonette,1987,64 years 09 months,818000.0

In [3]:
value_df['address'] = value_df['block'] + ' ' + value_df['street_name']
all_address = list(value_df['address'])
unique_address = list(set(all_address))
print('Number of unique addresses: ' + str(len(unique_address)))

Number of unique addresses: 9209

In [4]:
unique_address

['251 COMPASSVALE ST',
 '534 BT BATOK ST 51',
 '110C PUNGGOL FIELD',
 '406 PANDAN GDNS',
 '742 YISHUN AVE 5',
 '203 CHOA CHU KANG AVE 1',
 '424 PASIR RIS DR 6',
 '651 PASIR RIS DR 10',
 '104 WOODLANDS ST 13',
 '437 JURONG WEST AVE 1',
 '926 HOUGANG ST 91',
 '359 YUNG AN RD',
 '612A PUNGGOL DR',
 '701 YISHUN AVE 5',
 '304 HOUGANG AVE 5',
 '3 BEDOK STH AVE 1',
 '530A PASIR RIS DR 1',
 '230 YISHUN ST 21',
 '335 UBI AVE 1',
 '506 BT BATOK ST 52',
 '764 YISHUN ST 72',
 '671B KLANG LANE',
 '615 ELIAS RD',
 '518 PASIR RIS ST 52',
 '702 YISHUN AVE 5',
 '405 ADMIRALTY LINK',
 '489B CHOA CHU KANG AVE 5',
 '231 PASIR RIS DR 4',
 '321 SERANGOON AVE 2',
 '452 JURONG WEST ST 42',
 '10A BOON TIONG RD',
 '635 VEERASAMY RD',
 '149 PASIR RIS ST 13',
 '46 JLN BAHAGIA',
 '187 BISHAN ST 13',
 '172 ANG MO KIO AVE 4',
 '182 JELEBU RD',
 '1 CHANGI VILLAGE RD',
 '216 BISHAN ST 23',
 '106 BEDOK RESERVOIR RD',
 '351 HOUGANG AVE 7',
 '43 TELOK BLANGAH RISE',
 '32 MARSILING DR',
 '121D SENGKANG EAST WAY',
 '616 SENJA RD',
 '421 HOUGANG AVE 10',
 '688C WOODLANDS DR 75',
 '151 BEDOK RESERVOIR RD',
 '113 WHAMPOA RD',
 '421 JURONG WEST ST 42',
 '105 BT PURMEI RD',
 '40 TEBAN GDNS RD',
 '724 WOODLANDS AVE 6',
 '455 SEGAR RD',
 '272D JURONG WEST ST 24',
 '301 HOUGANG AVE 5',
 '28 TELOK BLANGAH RISE',
 '766 CHOA CHU KANG NTH 5',
 '11 HAIG RD',
 '540 HOUGANG AVE 8',
 '163 GANGSA RD',
 '162 YUNG PING RD',
 '713 TAMPINES ST 71',
 '638 CHOA CHU KANG ST 64',
 "7 C'WEALTH AVE",
 '37 TELOK BLANGAH RISE',
 '303C ANCHORVALE LINK',
 '141 BEDOK RESERVOIR RD',
 '412 SERANGOON CTRL',
 '573 ANG MO KIO AVE 3',
 '788E WOODLANDS CRES',
 '666B PUNGGOL DR',
 '337A TAH CHING RD',
 '815 JELLICOE RD',
 '749 JURONG WEST ST 73',
 '212 MARSILING CRES',
 '149 MEI LING ST',
 '559 HOUGANG ST 51',
 '202 ANG MO KIO AVE 3',
 '162 MEI LING ST',
 '520 ANG MO KIO AVE 5',
 '710 BEDOK RESERVOIR RD',
 '632 JURONG WEST ST 65',
 '620 BEDOK RESERVOIR RD',
 '788 YISHUN AVE 2',
 '317 HOUGANG AVE 7',
 '274A COMPASSVALE BOW',
 '209 YISHUN ST 21',
 '304 WOODLANDS ST 31',
 '36 BEDOK STH AVE 2',
 '581 WOODLANDS DR 16',
 '278 YISHUN ST 22',
 '108 JURONG EAST ST 13',
 '69 LOR 4 TOA PAYOH',
 '686C WOODLANDS DR 73',
 '25 SIN MING RD',
 '106B DEPOT RD',
 '39 TELOK BLANGAH RISE',
 '118 SERANGOON NTH AVE 1',
 '419 HOUGANG AVE 8',
 '113 PENDING RD',
 '404 PANDAN GDNS',
 '89 BEDOK NTH ST 4',
 '685 HOUGANG ST 61',
 '122 YUAN CHING RD',
 '255 KIM KEAT AVE',
 '191 BT BATOK WEST AVE 6',
 '8A UPP BOON KENG RD',
 '659 CHOA CHU KANG CRES',
 '121C SENGKANG EAST WAY',
 '520B TAMPINES CTRL 8',
 '228 BISHAN ST 23',
 '122 BEDOK RESERVOIR RD',
 '114 RIVERVALE WALK',
 '434 BT PANJANG RING RD',
 '628 BT BATOK CTRL',
 '131 YISHUN ST 11',
 '230B TAMPINES ST 24',
 '154 WOODLANDS ST 13',
 '12 JOO SENG RD',
 '101A PUNGGOL FIELD',
 '427 JURONG WEST AVE 1',
 '120C RIVERVALE DR',
 '463 JURONG WEST ST 41',
 '478 SEGAR RD',
 '579 PASIR RIS ST 53',
 '113 YISHUN RING RD',
 '286B TOH GUAN RD',
 '246 JURONG EAST ST 24',
 '462 CRAWFORD LANE',
 '943 JURONG WEST ST 91',
 '246 PASIR RIS ST 21',
 '165 BISHAN ST 13',
 '372 BT BATOK ST 31',
 '604C PUNGGOL RD',
 '528 WOODLANDS DR 14',
 '101D PUNGGOL FIELD',
 '689A CHOA CHU KANG DR',
 '448 BRIGHT HILL DR',
 '143 SERANGOON NTH AVE 1',
 '803C KEAT HONG CL',
 '339D KANG CHING RD',
 '940 HOUGANG ST 92',
 '268C COMPASSVALE LINK',
 '637 PASIR RIS DR 1',
 '429 HOUGANG AVE 6',
 '232 COMPASSVALE WALK',
 '51 TEBAN GDNS RD',
 '133 PASIR RIS ST 11',
 '13 JOO SENG RD',
 '313 SERANGOON AVE 2',
 '782B WOODLANDS CRES',
 '20 EUNOS CRES',
 '129 KIM TIAN RD',
 '134 ANG MO KIO AVE 3',
 '355A SEMBAWANG WAY',
 '959 HOUGANG ST 91',
 '390 BT BATOK WEST AVE 5',
 '825 WOODLANDS ST 81',
 '175 BISHAN ST 13',
 '747C BEDOK RESERVOIR CRES',
 '195 RIVERVALE DR',
 '174 BISHAN ST 13',
 '14A TELOK BLANGAH CRES',
 '697A JURONG WEST CTRL 3',
 '702 CHOA CHU KANG ST 53',
 '536 UPP CROSS ST',
 '120A KIM TIAN PL',
 '338 WOODLANDS AVE 1',
 '208 CHOA CHU KANG CTRL',
 '307 HOUGANG AVE 5',
 '553 SERANGOON NTH AVE 3',
 '879 YISHUN ST 81',
 '302 ANG MO KIO AVE 3',
 '81 STRATHMORE AVE',
 '205 CHOA CHU KANG CTRL',
 '737 PASIR RIS DR 10',
 '131 BEDOK NTH AVE 3',
 '448B SENGKANG WEST WAY',
 '434A FERNVALE RD',
 '350A YISHUN AVE 11',
 '899A WOODLANDS DR 50',
 '622 YISHUN RING RD',
 '421 FAJAR RD',
 '817 JURONG WEST ST 81',
 '526D PASIR RIS ST 51',
 '144 BISHAN ST 12',
 '144 POTONG PASIR AVE 2',
 '533 BT BATOK ST 51',
 '18 CANTONMENT CL',
 '471B FERNVALE ST',
 '83 STRATHMORE AVE',
 '1G CANTONMENT RD',
 '774 WOODLANDS CRES',
 '494D TAMPINES ST 43',
 '981D BUANGKOK CRES',
 '682A WOODLANDS DR 62',
 '188 BT BATOK WEST AVE 6',
 '250 PASIR RIS ST 21',
 '7 PINE CL',
 '646 ANG MO KIO AVE 6',
 '175A PUNGGOL FIELD',
 '221 SERANGOON AVE 4',
 '86 LOR 2 TOA PAYOH',
 '545 ANG MO KIO AVE 10',
 '52 LENGKOK BAHRU',
 '142 JLN BT MERAH',
 '167D PUNGGOL EAST',
 '417 TAMPINES ST 41',
 '407 ANG MO KIO AVE 10',
 '125 BISHAN ST 12',
 '157A RIVERVALE CRES',
 '674A JURONG WEST ST 65',
 '448 BT PANJANG RING RD',
 '679A JURONG WEST CTRL 1',
 '565 ANG MO KIO AVE 3',
 '81B LOR 4 TOA PAYOH',
 '345 CHOA CHU KANG LOOP',
 '304 CLEMENTI AVE 4',
 '70A TELOK BLANGAH HTS',
 '759 CHOA CHU KANG NTH 5',
 '47 JLN TIGA',
 '116 BT MERAH CTRL',
 '280B SENGKANG EAST AVE',
 '705 JURONG WEST ST 71',
 '52 NEW UPP CHANGI RD',
 '5 DELTA AVE',
 '387 TAMPINES ST 32',
 '439B SENGKANG WEST AVE',
 '856F TAMPINES ST 82',
 '122 BEDOK NTH ST 2',
 '628 BEDOK RESERVOIR RD',
 '474 JURONG WEST ST 41',
 '451 SIN MING AVE',
 '111 SIMEI ST 1',
 '765 PASIR RIS ST 71',
 '119 BT BATOK WEST AVE 6',
 '203 PASIR RIS ST 21',
 '451 YISHUN RING RD',
 '601 BEDOK RESERVOIR RD',
 '344 UBI AVE 1',
 '672D EDGEFIELD PLAINS',
 '484C CHOA CHU KANG AVE 5',
 '738 PASIR RIS DR 10',
 "2 QUEEN'S RD",
 '602C PUNGGOL CTRL',
 '1F CANTONMENT RD',
 '349 WOODLANDS AVE 3',
 '270 TAMPINES ST 21',
 '77 BEDOK NTH RD',
 '716 YISHUN ST 71',
 '865 TAMPINES ST 83',
 '116 PASIR RIS ST 11',
 '663 WOODLANDS RING RD',
 '404 SERANGOON AVE 1',
 '450C SENGKANG WEST WAY',
 '816 TAMPINES AVE 4',
 '653 YISHUN AVE 4',
 '205 YISHUN ST 21',
 '278A COMPASSVALE BOW',
 '28 KELANTAN RD',
 '8 JLN BATU',
 '117B JLN TENTERAM',
 '10 TECK WHYE AVE',
 '144 LOR AH SOO',
 '506A WELLINGTON CIRCLE',
 '140 PASIR RIS ST 11',
 '63A LENGKOK BAHRU',
 '735 YISHUN ST 72',
 '816A KEAT HONG LINK',
 '327 SEMBAWANG CRES',
 '897B WOODLANDS DR 50',
 '353A ADMIRALTY DR',
 '92 DAWSON RD',
 '128 ANG MO KIO AVE 3',
 '533 SERANGOON NTH AVE 4',
 '127C KIM TIAN RD',
 '1 TOH YI DR',
 '301D ANCHORVALE DR',
 '291B BT BATOK ST 24',
 '18 MARINE TER',
 '148 YISHUN ST 11',
 '109 JURONG EAST ST 13',
 '113 LOR 1 TOA PAYOH',
 '166A TECK WHYE CRES',
 '889D WOODLANDS DR 50',
 '157 YISHUN ST 11',
 '681B JURONG WEST CTRL 1',
 '537 ANG MO KIO AVE 5',
 '180A RIVERVALE CRES',
 '723 CLEMENTI WEST ST 2',
 '477 PASIR RIS DR 6',
 '856C TAMPINES ST 82',
 '411 YISHUN RING RD',
 '645 HOUGANG AVE 8',
 '47 JLN BAHAGIA',
 '288 YISHUN AVE 6',
 '337 CLEMENTI AVE 2',
 '26 BENDEMEER RD',
 '824 WOODLANDS ST 81',
 '296B BT BATOK ST 22',
 '728 WOODLANDS CIRCLE',
 '787D WOODLANDS CRES',
 '250 YISHUN AVE 9',
 '135 YISHUN ST 11',
 '131 BEDOK RESERVOIR RD',
 '690D WOODLANDS DR 75',
 '261A PUNGGOL WAY',
 '856D TAMPINES ST 82',
 '338 SEMBAWANG CRES',
 '549 PASIR RIS ST 51',
 '670 WOODLANDS DR 71',
 '391 YISHUN AVE 6',
 '632 ANG MO KIO AVE 4',
 '809B CHOA CHU KANG AVE 1',
 '327 ANG MO KIO AVE 3',
 '522 ANG MO KIO AVE 5',
 '203 PETIR RD',
 '936 JURONG WEST ST 91',
 '15 UPP BOON KENG RD',
 '230 JURONG EAST ST 21',
 '236 COMPASSVALE WALK',
 '403 JURONG WEST ST 42',
 '260 YISHUN ST 22',
 '521 JURONG WEST ST 52',
 '39A BENDEMEER RD',
 "7 ST. GEORGE'S LANE",
 '807C CHAI CHEE RD',
 '766 WOODLANDS CIRCLE',
 '535A SERANGOON NTH AVE 4',
 '782D WOODLANDS CRES',
 '472C FERNVALE ST',
 '507 JURONG WEST ST 52',
 '541 ANG MO KIO AVE 10',
 '204 BOON LAY DR',
 '236 SERANGOON AVE 3',
 '344 ANG MO KIO AVE 3',
 '923 JURONG WEST ST 92',
 '116C RIVERVALE DR',
 '802A KEAT HONG CL',
 '229 COMPASSVALE WALK',
 '449 ANG MO KIO AVE 10',
 '447 CHOA CHU KANG AVE 4',
 '360 HOUGANG AVE 5',
 '82B LOR 4 TOA PAYOH',
 '19 LIM LIAK ST',
 '284 CHOA CHU KANG AVE 3',
 '122A SENGKANG EAST WAY',
 '203 BT BATOK ST 21',
 '246 BISHAN ST 22',
 '332 UBI AVE 1',
 '472A FERNVALE ST',
 '619B PUNGGOL DR',
 '142 RIVERVALE CRES',
 '124B BT MERAH VIEW',
 '133 EDGEDALE PLAINS',
 '505 ANG MO KIO AVE 8',
 '347 TAMPINES ST 33',
 '61 NEW UPP CHANGI RD',
 '18 LOR 7 TOA PAYOH',
 '528 JELAPANG RD',
 '135 PASIR RIS ST 11',
 '224C COMPASSVALE WALK',
 '258 SERANGOON CTRL DR',
 '426C YISHUN AVE 11',
 '162 TAMPINES ST 12',
 '104A ANG MO KIO ST 11',
 '315C ANCHORVALE RD',
 '6 HOUGANG AVE 3',
 '428 BT PANJANG RING RD',
 '23 JLN MEMBINA',
 '18 TIONG BAHRU RD',
 "110 C'WEALTH CRES",
 '34 CASSIA CRES',
 '128 BISHAN ST 12',
 '425 JURONG WEST AVE 1',
 '115 POTONG PASIR AVE 1',
 '303D PUNGGOL PL',
 '947 JURONG WEST ST 91',
 '134 BT BATOK WEST AVE 6',
 '411 ANG MO KIO AVE 10',
 '273D PUNGGOL PL',
 '56 TEBAN GDNS RD',
 '316 CLEMENTI AVE 4',
 '148 WOODLANDS ST 13',
 '851 WOODLANDS ST 83',
 '5 PINE CL',
 '498 JURONG WEST ST 41',
 '602 CLEMENTI WEST ST 1',
 '441B FERNVALE RD',
 "6 ST. GEORGE'S LANE",
 '142 LOR AH SOO',
 '358 HOUGANG AVE 5',
 '145 LOR 2 TOA PAYOH',
 '252 BANGKIT RD',
 '677A JURONG WEST ST 64',
 '120D CANBERRA CRES',
 '136 RIVERVALE ST',
 '631 BEDOK RESERVOIR RD',
 '208 BOON LAY PL',
 '443C FAJAR RD',
 '451 PASIR RIS DR 6',
 '231 SERANGOON AVE 3',
 '686 HOUGANG ST 61',
 '351 UBI AVE 1',
 '253 TAMPINES ST 21',
 '54 TELOK BLANGAH DR',
 '141 RIVERVALE ST',
 '408 SIN MING AVE',
 '609 WOODLANDS RING RD',
 '685C WOODLANDS DR 73',
 '126 BISHAN ST 12',
 '303 CLEMENTI AVE 4',
 '268C PUNGGOL FIELD',
 '440 PASIR RIS DR 4',
 '253 PASIR RIS ST 21',
 '3 JOO CHIAT RD',
 '541 WOODLANDS DR 16',
 '231 TAMPINES ST 21',
 '260A PUNGGOL WAY',
 '934 TAMPINES ST 91',
 '547C SEGAR RD',
 '91 TANGLIN HALT RD',
 '127 RIVERVALE ST',
 '809 YISHUN RING RD',
 '8 MARSILING DR',
 '219 CHOA CHU KANG CTRL',
 '803B KEAT HONG CL',
 '530 BEDOK NTH ST 3',
 '352 CHOA CHU KANG CTRL',
 '519A TAMPINES CTRL 8',
 '508B YISHUN AVE 4',
 '558 ANG MO KIO AVE 10',
 '4 BEDOK STH AVE 1',
 '55 GEYLANG BAHRU',
 '126B EDGEDALE PLAINS',
 '262 YISHUN ST 22',
 '846 JURONG WEST ST 81',
 '613 HOUGANG AVE 8',
 '661A JURONG WEST ST 64',
 '1 MARINE TER',
 '281 TOH GUAN RD',
 '611 CHOA CHU KANG ST 62',
 '804 WOODLANDS ST 81',
 '479 SEMBAWANG DR',
 '672 JLN DAMAI',
 '210 SERANGOON CTRL',
 '163 BISHAN ST 13',
 '100 LOR 1 TOA PAYOH',
 '256 COMPASSVALE RD',
 '649 PASIR RIS DR 10',
 '529 HOUGANG AVE 6',
 '204C COMPASSVALE DR',
 '219 ANG MO KIO AVE 1',
 '103 BISHAN ST 12',
 '706 YISHUN AVE 5',
 '270 PASIR RIS ST 21',
 '166 HOUGANG AVE 1',
 '298A COMPASSVALE ST',
 '219 BISHAN ST 23',
 '211 TAMPINES ST 23',
 '133 CASHEW RD',
 '186D RIVERVALE DR',
 '988B JURONG WEST ST 93',
 "1 ST. GEORGE'S RD",
 '488 SEGAR RD',
 '261 TAMPINES ST 21',
 '710 WOODLANDS DR 70',
 '894B WOODLANDS DR 50',
 '34 JLN BAHAGIA',
 '48 DORSET RD',
 '357 CLEMENTI AVE 2',
 '961 JURONG WEST ST 92',
 '488B TAMPINES ST 45',
 '489 ADMIRALTY LINK',
 '746 PASIR RIS ST 71',
 '331 BT BATOK ST 33',
 '109 LOR 1 TOA PAYOH',
 '169B PUNGGOL FIELD',
 '404 ADMIRALTY LINK',
 '623 JURONG WEST ST 61',
 '161A PUNGGOL CTRL',
 '106A PUNGGOL FIELD',
 '49 JLN TIGA',
 '115A YISHUN RING RD',
 '211 BT BATOK ST 21',
 '47 MOH GUAN TER',
 '432C YISHUN AVE 1',
 '330B ANCHORVALE ST',
 '434B FERNVALE RD',
 '413 ANG MO KIO AVE 10',
 '281 CHOA CHU KANG AVE 3',
 '11 FARRER PK RD',
 '105A EDGEFIELD PLAINS',
 '132 RIVERVALE ST',
 '603 BEDOK RESERVOIR RD',
 '116 BISHAN ST 12',
 '41 SIMS DR',
 '22 GHIM MOH LINK',
 '354C ADMIRALTY DR',
 '310 HOUGANG AVE 5',
 '328 SERANGOON AVE 3',
 '273 TAMPINES ST 22',
 '209 ANG MO KIO AVE 3',
 '334 BT BATOK ST 32',
 '368 BT BATOK ST 31',
 '471 CHOA CHU KANG AVE 3',
 '510 JURONG WEST ST 52',
 '306 HOUGANG AVE 5',
 '107 JLN RAJAH',
 '504D YISHUN ST 51',
 '356 TAMPINES ST 33',
 '536 JURONG WEST ST 52',
 '549A SEGAR RD',
 '454 PASIR RIS DR 6',
 '467 JURONG WEST ST 41',
 '606 SENJA RD',
 '290B BT BATOK ST 24',
 '275A COMPASSVALE LINK',
 '86 REDHILL CL',
 '132 POTONG PASIR AVE 1',
 '653 JLN TENAGA',
 '111 EDGEFIELD PLAINS',
 '138 RIVERVALE ST',
 '13 TELOK BLANGAH CRES',
 '63 CIRCUIT RD',
 '224 SERANGOON AVE 4',
 '5 TELOK BLANGAH CRES',
 '337B TAH CHING RD',
 '677C JURONG WEST ST 64',
 '858B TAMPINES AVE 5',
 '791 YISHUN AVE 2',
 '878 TAMPINES AVE 8',
 '164 TAMPINES ST 12',
 '971 HOUGANG ST 91',
 '287A JURONG EAST ST 21',
 '332 TAH CHING RD',
 '33 LIM LIAK ST',
 '145 MEI LING ST',
 '79A TOA PAYOH CTRL',
 '424 WOODLANDS ST 41',
 '289G BT BATOK ST 25',
 '261B PUNGGOL WAY',
 '878B TAMPINES AVE 8',
 '64 MARINE DR',
 '527D PASIR RIS ST 51',
 '842D TAMPINES ST 82',
 '619 ANG MO KIO AVE 4',
 '38 JLN RUMAH TINGGI',
 '475 SEGAR RD',
 '620 HOUGANG AVE 8',
 '540 BEDOK NTH ST 3',
 '253 BANGKIT RD',
 '204 YISHUN ST 21',
 '161 SIMEI RD',
 '127 BEDOK NTH ST 2',
 '450 YISHUN RING RD',
 '684D WOODLANDS DR 73',
 '42 CASSIA CRES',
 '280 TOH GUAN RD',
 '111 CLEMENTI ST 13',
 '448 TAMPINES ST 42',
 '642 BEDOK RESERVOIR RD',
 '115 SERANGOON NTH AVE 1',
 '751 WOODLANDS CIRCLE',
 '178 BT BATOK WEST AVE 8',
 '637A PUNGGOL DR',
 '416 YISHUN AVE 11',
 '842E TAMPINES ST 82',
 '467 TAMPINES ST 44',
 '713 WOODLANDS DR 70',
 '715 YISHUN ST 71',
 '416 WOODLANDS ST 41',
 '326 BT BATOK ST 33',
 '401 ANG MO KIO AVE 10',
 '438 FAJAR RD',
 '130 BISHAN ST 12',
 '559 ANG MO KIO AVE 10',
 '606 BEDOK RESERVOIR RD',
 '110 BEDOK NTH RD',
 '192 PASIR RIS ST 12',
 '502C YISHUN ST 51',
 '272A PUNGGOL WALK',
 '608 ANG MO KIO AVE 5',
 '689D WOODLANDS DR 75',
 '530 CHOA CHU KANG ST 51',
 '635C PUNGGOL DR',
 '44 BEDOK STH RD',
 '227 PENDING RD',
 '454 TAMPINES ST 42',
 '62 DAKOTA CRES',
 '913 HOUGANG ST 91',
 '206 BT BATOK ST 21',
 '134 LOR AH SOO',
 '14 TOH YI DR',
 '854 JURONG WEST ST 81',
 '623 BT BATOK CTRL',
 '146 SERANGOON NTH AVE 1',
 '305 TAMPINES ST 32',
 '247 JURONG EAST ST 24',
 '670C EDGEFIELD PLAINS',
 '280 TAMPINES ST 22',
 '237 YISHUN RING RD',
 '602 CHOA CHU KANG ST 62',
 '54 KENT RD',
 '331 YISHUN RING RD',
 '24 BEO CRES',
 '175A YUNG KUANG RD',
 '463B SEMBAWANG DR',
 '302D PUNGGOL PL',
 '528B PASIR RIS ST 51',
 '176 LOMPANG RD',
 '192 BISHAN ST 13',
 '511 WOODLANDS DR 14',
 '128 RIVERVALE ST',
 '649B JURONG WEST ST 61',
 '22 TEBAN GDNS RD',
 '430B FERNVALE LINK',
 '331A ANCHORVALE ST',
 '114 TECK WHYE LANE',
 '174B EDGEDALE PLAINS',
 '358 BT BATOK ST 31',
 '102 SERANGOON NTH AVE 1',
 '231 SIMEI ST 4',
 '519 PASIR RIS ST 52',
 '879A TAMPINES AVE 8',
 "9 ST. GEORGE'S RD",
 '15 JOO SENG RD',
 '868C TAMPINES AVE 8',
 '354B ADMIRALTY DR',
 '624 ANG MO KIO AVE 4',
 '619C PUNGGOL DR',
 '236 LOR 1 TOA PAYOH',
 '221 PASIR RIS ST 21',
 '990A JURONG WEST ST 93',
 '276D JURONG WEST ST 25',
 '366 CORPORATION DR',
 '803 YISHUN RING RD',
 '487 PASIR RIS DR 4',
 '493E TAMPINES ST 43',
 '571 HOUGANG ST 51',
 '210 ANG MO KIO AVE 3',
 '111 ANG MO KIO AVE 4',
 '420 PASIR RIS DR 6',
 '284 TAMPINES ST 22',
 '106 WOODLANDS ST 13',
 '188 BISHAN ST 13',
 '155 BISHAN ST 13',
 '214 YISHUN ST 21',
 '626 BEDOK RESERVOIR RD',
 '777 YISHUN AVE 2',
 '286 CHOA CHU KANG AVE 3',
 '117 SIMEI ST 1',
 '456 ANG MO KIO AVE 10',
 '853 YISHUN RING RD',
 '453 CHOA CHU KANG AVE 4',
 '208 PASIR RIS ST 21',
 '324 BT BATOK ST 33',
 '205A PUNGGOL FIELD',
 '718 WOODLANDS AVE 6',
 '403 BT BATOK WEST AVE 7',
 '616 YISHUN RING RD',
 '298 BT BATOK ST 22',
 '539 BT PANJANG RING RD',
 '686B CHOA CHU KANG CRES',
 '462 JURONG WEST ST 41',
 '38 TELOK BLANGAH RISE',
 '436 WOODLANDS ST 41',
 '304 UBI AVE 1',
 '262 BISHAN ST 22',
 '638 ANG MO KIO AVE 6',
 '512B YISHUN ST 51',
 '416 CLEMENTI AVE 1',
 "23 ST. GEORGE'S RD",
 '539 ANG MO KIO AVE 10',
 '556 HOUGANG ST 51',
 '205 BT BATOK ST 21',
 '127 MARSILING RISE',
 '618B PUNGGOL DR',
 '455 YISHUN ST 41',
 '72 TELOK BLANGAH HTS',
 '415 CHOA CHU KANG AVE 4',
 '115 PASIR RIS ST 11',
 '288C JURONG EAST ST 21',
 '717 TAMPINES ST 72',
 '5 BEDOK STH AVE 2',
 '266A COMPASSVALE BOW',
 '158 JLN TECK WHYE',
 '406 ANG MO KIO AVE 10',
 '338 UBI AVE 1',
 '227B COMPASSVALE DR',
 '318 SEMBAWANG VISTA',
 '756 CHOA CHU KANG NTH 5',
 '678 HOUGANG AVE 8',
 '321 ANG MO KIO AVE 1',
 '662C EDGEDALE PLAINS',
 '271D PUNGGOL WALK',
 '307 CANBERRA RD',
 '734 TAMPINES ST 71',
 '422 JURONG WEST ST 42',
 '416 PANDAN GDNS',
 '202B PUNGGOL FIELD',
 '18 HOUGANG AVE 3',
 '308 SHUNFU RD',
 '34 EUNOS CRES',
 '429 WOODLANDS ST 41',
 '652A JURONG WEST ST 61',
 '97 ALJUNIED CRES',
 '243 TAMPINES ST 21',
 '415 JURONG WEST ST 42',
 '139 TAMPINES ST 11',
 '133 GEYLANG EAST AVE 1',
 '414 WOODLANDS ST 41',
 '206 PASIR RIS ST 21',
 '934 JURONG WEST ST 91',
 '208B PUNGGOL PL',
 '508 BT BATOK ST 52',
 '510 WOODLANDS DR 14',
 '113 TAO CHING RD',
 '325 SEMBAWANG CRES',
 '555 WOODLANDS DR 53',
 '667 JLN DAMAI',
 '899A TAMPINES ST 81',
 '56 LOR 4 TOA PAYOH',
 '26 DOVER CRES',
 '73A REDHILL RD',
 '146 SIMEI ST 2',
 '291 BISHAN ST 24',
 '48 JLN BAHAGIA',
 '422 HOUGANG AVE 6',
 '632 CHOA CHU KANG NTH 6',
 '227 BT BATOK CTRL',
 '253A ANG MO KIO ST 21',
 '412 PANDAN GDNS',
 '72 BEDOK STH AVE 3',
 '687B CHOA CHU KANG DR',
 '303 HOUGANG AVE 5',
 '164 WOODLANDS ST 13',
 '309 WOODLANDS AVE 1',
 '106D PUNGGOL FIELD',
 '525 SERANGOON NTH AVE 4',
 '678C PUNGGOL DR',
 '526 SERANGOON NTH AVE 4',
 '638 PASIR RIS DR 1',
 '101 PASIR RIS ST 12',
 '29 LIM LIAK ST',
 '286 TAMPINES ST 22',
 '319 SEMBAWANG CL',
 '663B JURONG WEST ST 65',
 '777 PASIR RIS ST 71',
 '411 BT BATOK WEST AVE 4',
 '561 PASIR RIS ST 51',
 '672A KLANG LANE',
 '303 SERANGOON AVE 2',
 '923 HOUGANG AVE 9',
 '59 NEW UPP CHANGI RD',
 '111 LOR 1 TOA PAYOH',
 '302 SERANGOON AVE 2',
 '151 JLN TECK WHYE',
 "93 C'WEALTH DR",
 '8 JOO SENG RD',
 '416 HOUGANG AVE 10',
 '434 CLEMENTI AVE 3',
 '246 TAMPINES ST 21',
 '29 NEW UPP CHANGI RD',
 '296A CHOA CHU KANG AVE 2',
 '237 TAMPINES ST 21',
 '602B PUNGGOL CTRL',
 '201 MARSILING DR',
 '48A DORSET RD',
 '102 LENGKONG TIGA',
 '419 FAJAR RD',
 '297 BT BATOK ST 22',
 '100 WHAMPOA DR',
 '221A BEDOK CTRL',
 '511 SERANGOON NTH AVE 4',
 '254 PASIR RIS ST 21',
 '658 CHOA CHU KANG CRES',
 '787C WOODLANDS CRES',
 '510 PASIR RIS ST 52',
 '241 SERANGOON AVE 3',
 '968 HOUGANG AVE 9',
 '723 JURONG WEST AVE 5',
 '324 SEMBAWANG CL',
 '337 ANG MO KIO AVE 1',
 '214 PETIR RD',
 '455 JURONG WEST ST 42',
 '372 HOUGANG ST 31',
 '431 CLEMENTI AVE 3',
 '63 MARINE DR',
 '288C COMPASSVALE CRES',
 '90 DAWSON RD',
 '57 CIRCUIT RD',
 '24 TEBAN GDNS RD',
 '109A DEPOT RD',
 '70 LOR 4 TOA PAYOH',
 '156 BEDOK STH AVE 3',
 '265C COMPASSVALE LINK',
 '545 JURONG WEST ST 42',
 '160 MEI LING ST',
 '7 MARSILING DR',
 '186 TOA PAYOH CTRL',
 '109A EDGEDALE PLAINS',
 '104 BT BATOK CTRL',
 '669 WOODLANDS RING RD',
 '761 CHOA CHU KANG NTH 5',
 '531 JURONG WEST ST 52',
 '112 BT BATOK WEST AVE 6',
 '360 BT BATOK ST 31',
 '224 TAMPINES ST 23',
 '206 YISHUN ST 21',
 '363 BT BATOK ST 31',
 '305 ANG MO KIO AVE 1',
 '476A CHOA CHU KANG AVE 5',
 '227 TAMPINES ST 23',
 '708 WOODLANDS DR 70',
 '818 WOODLANDS ST 82',
 '862A TAMPINES ST 83',
 '153 SERANGOON NTH AVE 1',
 '413 JURONG WEST ST 42',
 '308 JURONG EAST ST 32',
 '335 CLEMENTI AVE 2',
 '204 ANG MO KIO AVE 3',
 '673 WOODLANDS DR 71',
 '686A WOODLANDS DR 73',
 '306 ANG MO KIO AVE 1',
 '43 HOLLAND DR',
 '222 PASIR RIS ST 21',
 '212 JURONG EAST ST 21',
 '236 JURONG EAST ST 21',
 '744 JURONG WEST ST 73',
 '613B PUNGGOL DR',
 '468C FERNVALE LINK',
 '409 CHOA CHU KANG AVE 3',
 '344 YISHUN AVE 11',
 '103 GANGSA RD',
 '737 YISHUN ST 72',
 '15 HOUGANG AVE 3',
 '66 CIRCUIT RD',
 '114 BEDOK RESERVOIR RD',
 '357C ADMIRALTY DR',
 "89 C'WEALTH DR",
 '103C EDGEFIELD PLAINS',
 '987B BUANGKOK GREEN',
 '204B COMPASSVALE DR',
 '281B SENGKANG EAST AVE',
 '23 TEBAN GDNS RD',
 '42 BEDOK STH RD',
 '955 HOUGANG AVE 9',
 '22 BOON KENG RD',
 '576 PASIR RIS ST 53',
 '812A CHOA CHU KANG AVE 7',
 '7 TOH YI DR',
 '286 BT BATOK EAST AVE 3',
 '26 CHAI CHEE RD',
 '6 TECK WHYE AVE',
 '758 CHOA CHU KANG NTH 5',
 '681C JURONG WEST CTRL 1',
 '120B RIVERVALE DR',
 '5 TOH YI DR',
 '228 TAMPINES ST 23',
 '204 PASIR RIS ST 21',
 '118 LOR 1 TOA PAYOH',
 '534 HOUGANG ST 52',
 '706 WOODLANDS DR 40',
 '974 HOUGANG ST 91',
 '393 BT BATOK WEST AVE 5',

In [5]:
#Begin merging with data on distance
#Use property locations in value_df to obtain coordinates

import requests
import json

def find_postal(lst, filename):
    '''With the block number and street name, get the full address of the hdb flat,
    including the postal code, geogaphical coordinates (lat/long)'''
    
    for index,add in enumerate(lst):
        # Do not need to change the URL
        url= "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=Y&pageNum=1&searchVal="+ add        
        
        
        # Retrieve information from website
        response = requests.get(url)
        data = json.loads(response.text) 
    
        temp_df = pd.DataFrame.from_dict(data["results"])
        # The "add" is the address that was used to search in the website
        temp_df["address"] = add
        
        # Create the file with the first row that is read in 
        if index == 0:
            file = temp_df
        else:
            file = file.append(temp_df)
    file.to_csv(filename + '.csv')



# add = "667C JURONG WEST ST 65"
# url= "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=Y&pageNum=1&searchVal="+add
# response = requests.get(url)
# data = json.loads(response.text) 
# data

In [6]:
hdblocation_df = pd.read_csv('hdb_coordinates.csv')
hdblocation_df

,Unnamed: 0,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,0,215 LORONG 8 TOA PAYOH SINGAPORE 310215,215,LORONG 8 TOA PAYOH,NIL,215 LORONG 8 TOA PAYOH SINGAPORE 310215,310215,30424.918340,35998.064931,1.341828,103.855108,103.855108,215 LOR 8 TOA PAYOH
1,0,TOA PAYOH VIEW,118,LORONG 1 TOA PAYOH,TOA PAYOH VIEW,118 LORONG 1 TOA PAYOH TOA PAYOH VIEW SINGAPOR...,310118,29288.175336,35747.591826,1.339563,103.844894,103.844894,118 LOR 1 TOA PAYOH
2,0,699 HOUGANG STREET 52 SINGAPORE 530699,699,HOUGANG STREET 52,NIL,699 HOUGANG STREET 52 SINGAPORE 530699,530699,34217.826348,39767.903832,1.375921,103.889190,103.889190,699 HOUGANG ST 52
3,0,483 CHOA CHU KANG AVENUE 5 SINGAPORE 680483,483,CHOA CHU KANG AVENUE 5,NIL,483 CHOA CHU KANG AVENUE 5 SINGAPORE 680483,680483,17365.222944,39759.289957,1.375841,103.737757,103.737757,483 CHOA CHU KANG AVE 5
4,1,GREENERY CHILDCARE CENTRE,483,CHOA CHU KANG AVENUE 5,GREENERY CHILDCARE CENTRE,483 CHOA CHU KANG AVENUE 5 GREENERY CHILDCARE ...,680483,17365.223096,39759.289897,1.375841,103.737757,103.737757,483 CHOA CHU KANG AVE 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11383,0,COMPASSVALE VISTA,224A,COMPASSVALE WALK,COMPASSVALE VISTA,224A COMPASSVALE WALK COMPASSVALE VISTA SINGAP...,541224,35200.334816,41090.587237,1.387882,103.898019,103.898019,224A COMPASSVALE WALK
11384,0,212 JURONG EAST STREET 21 SINGAPORE 600212,212,JURONG EAST STREET 21,NIL,212 JURONG EAST STREET 21 SINGAPORE 600212,600212,17658.260007,35695.924923,1.339094,103.740392,103.740392,212 JURONG EAST ST 21
11385,0,681C WOODLANDS DRIVE 62 SINGAPORE 733681,681C,WOODLANDS DRIVE 62,NIL,681C WOODLANDS DRIVE 62 SINGAPORE 733681,733681,24639.376585,46830.054492,1.439789,103.803120,103.803120,681C WOODLANDS DR 62
11386,0,FERN SPRING,403B,FERNVALE LANE,FERN SPRING,403B FERNVALE LANE FERN SPRING SINGAPORE 792403,792403,32413.782632,41191.053425,1.388791,103.872980,103.872980,403B FERNVALE LANE
11387,0,330 TAMPINES STREET 32 SINGAPORE 520330,330,TAMPINES STREET 32,NIL,330 TAMPINES STREET 32 SINGAPORE 520330,520330,42046.077897,37273.123873,1.353356,103.959532,103.959532,330 TAMPINES ST 32

In [7]:
hdblocation_df.rename( columns={'Unnamed: 0':'Count'}, inplace=True )
hdblocation_df

,Count,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,0,215 LORONG 8 TOA PAYOH SINGAPORE 310215,215,LORONG 8 TOA PAYOH,NIL,215 LORONG 8 TOA PAYOH SINGAPORE 310215,310215,30424.918340,35998.064931,1.341828,103.855108,103.855108,215 LOR 8 TOA PAYOH
1,0,TOA PAYOH VIEW,118,LORONG 1 TOA PAYOH,TOA PAYOH VIEW,118 LORONG 1 TOA PAYOH TOA PAYOH VIEW SINGAPOR...,310118,29288.175336,35747.591826,1.339563,103.844894,103.844894,118 LOR 1 TOA PAYOH
2,0,699 HOUGANG STREET 52 SINGAPORE 530699,699,HOUGANG STREET 52,NIL,699 HOUGANG STREET 52 SINGAPORE 530699,530699,34217.826348,39767.903832,1.375921,103.889190,103.889190,699 HOUGANG ST 52
3,0,483 CHOA CHU KANG AVENUE 5 SINGAPORE 680483,483,CHOA CHU KANG AVENUE 5,NIL,483 CHOA CHU KANG AVENUE 5 SINGAPORE 680483,680483,17365.222944,39759.289957,1.375841,103.737757,103.737757,483 CHOA CHU KANG AVE 5
4,1,GREENERY CHILDCARE CENTRE,483,CHOA CHU KANG AVENUE 5,GREENERY CHILDCARE CENTRE,483 CHOA CHU KANG AVENUE 5 GREENERY CHILDCARE ...,680483,17365.223096,39759.289897,1.375841,103.737757,103.737757,483 CHOA CHU KANG AVE 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11383,0,COMPASSVALE VISTA,224A,COMPASSVALE WALK,COMPASSVALE VISTA,224A COMPASSVALE WALK COMPASSVALE VISTA SINGAP...,541224,35200.334816,41090.587237,1.387882,103.898019,103.898019,224A COMPASSVALE WALK
11384,0,212 JURONG EAST STREET 21 SINGAPORE 600212,212,JURONG EAST STREET 21,NIL,212 JURONG EAST STREET 21 SINGAPORE 600212,600212,17658.260007,35695.924923,1.339094,103.740392,103.740392,212 JURONG EAST ST 21
11385,0,681C WOODLANDS DRIVE 62 SINGAPORE 733681,681C,WOODLANDS DRIVE 62,NIL,681C WOODLANDS DRIVE 62 SINGAPORE 733681,733681,24639.376585,46830.054492,1.439789,103.803120,103.803120,681C WOODLANDS DR 62
11386,0,FERN SPRING,403B,FERNVALE LANE,FERN SPRING,403B FERNVALE LANE FERN SPRING SINGAPORE 792403,792403,32413.782632,41191.053425,1.388791,103.872980,103.872980,403B FERNVALE LANE
11387,0,330 TAMPINES STREET 32 SINGAPORE 520330,330,TAMPINES STREET 32,NIL,330 TAMPINES STREET 32 SINGAPORE 520330,520330,42046.077897,37273.123873,1.353356,103.959532,103.959532,330 TAMPINES ST 32

In [8]:
hdblocation_df = hdblocation_df.loc[hdblocation_df['Count'] == 0]
hdblocation_df

,Count,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,0,215 LORONG 8 TOA PAYOH SINGAPORE 310215,215,LORONG 8 TOA PAYOH,NIL,215 LORONG 8 TOA PAYOH SINGAPORE 310215,310215,30424.918340,35998.064931,1.341828,103.855108,103.855108,215 LOR 8 TOA PAYOH
1,0,TOA PAYOH VIEW,118,LORONG 1 TOA PAYOH,TOA PAYOH VIEW,118 LORONG 1 TOA PAYOH TOA PAYOH VIEW SINGAPOR...,310118,29288.175336,35747.591826,1.339563,103.844894,103.844894,118 LOR 1 TOA PAYOH
2,0,699 HOUGANG STREET 52 SINGAPORE 530699,699,HOUGANG STREET 52,NIL,699 HOUGANG STREET 52 SINGAPORE 530699,530699,34217.826348,39767.903832,1.375921,103.889190,103.889190,699 HOUGANG ST 52
3,0,483 CHOA CHU KANG AVENUE 5 SINGAPORE 680483,483,CHOA CHU KANG AVENUE 5,NIL,483 CHOA CHU KANG AVENUE 5 SINGAPORE 680483,680483,17365.222944,39759.289957,1.375841,103.737757,103.737757,483 CHOA CHU KANG AVE 5
5,0,SEMBAWANG GREEN,486,ADMIRALTY LINK,SEMBAWANG GREEN,486 ADMIRALTY LINK SEMBAWANG GREEN SINGAPORE 7...,750486,26083.865258,48625.638185,1.456027,103.816100,103.816100,486 ADMIRALTY LINK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11383,0,COMPASSVALE VISTA,224A,COMPASSVALE WALK,COMPASSVALE VISTA,224A COMPASSVALE WALK COMPASSVALE VISTA SINGAP...,541224,35200.334816,41090.587237,1.387882,103.898019,103.898019,224A COMPASSVALE WALK
11384,0,212 JURONG EAST STREET 21 SINGAPORE 600212,212,JURONG EAST STREET 21,NIL,212 JURONG EAST STREET 21 SINGAPORE 600212,600212,17658.260007,35695.924923,1.339094,103.740392,103.740392,212 JURONG EAST ST 21
11385,0,681C WOODLANDS DRIVE 62 SINGAPORE 733681,681C,WOODLANDS DRIVE 62,NIL,681C WOODLANDS DRIVE 62 SINGAPORE 733681,733681,24639.376585,46830.054492,1.439789,103.803120,103.803120,681C WOODLANDS DR 62
11386,0,FERN SPRING,403B,FERNVALE LANE,FERN SPRING,403B FERNVALE LANE FERN SPRING SINGAPORE 792403,792403,32413.782632,41191.053425,1.388791,103.872980,103.872980,403B FERNVALE LANE
11387,0,330 TAMPINES STREET 32 SINGAPORE 520330,330,TAMPINES STREET 32,NIL,330 TAMPINES STREET 32 SINGAPORE 520330,520330,42046.077897,37273.123873,1.353356,103.959532,103.959532,330 TAMPINES ST 32

In [9]:
hdblocation_df = hdblocation_df[['LATITUDE','LONGITUDE','address']]
hdblocation_df

       LATITUDE   LONGITUDE                  address
0      1.341828  103.855108      215 LOR 8 TOA PAYOH
1      1.339563  103.844894      118 LOR 1 TOA PAYOH
2      1.375921  103.889190        699 HOUGANG ST 52
3      1.375841  103.737757  483 CHOA CHU KANG AVE 5
5      1.456027  103.816100       486 ADMIRALTY LINK
...         ...         ...                      ...
11383  1.387882  103.898019    224A COMPASSVALE WALK
11384  1.339094  103.740392    212 JURONG EAST ST 21
11385  1.439789  103.803120     681C WOODLANDS DR 62
11386  1.388791  103.872980       403B FERNVALE LANE
11387  1.353356  103.959532       330 TAMPINES ST 32

[9209 rows x 3 columns]

In [10]:
hawker_df = pd.read_csv('Hawker Location.csv')
hawker_df = hawker_df['location_of_centre']

In [11]:
hawker_address = list(set(hawker_df))

In [12]:
hawker_address

['Blk 89, Circuit Road, S(370089)',
 'Blk 137, Tampines Street 11, S(521137)',
 'Blk 6, Jalan Bukit Merah, S(150006)',
 'Blk 13/14, Haig Road, S(430013/430014)',
 'Blk 163, Bukit Merah Central, S(150163)',
 'Blk 120, Bukit Merah Lane, S(150120)',
 'Blk 270, Queen Street, S(180270)',
 'Blk 85, Redhill Lane, S(150085)',
 'Blk 32, New Market Road, S(050032)',
 '20, Kensington Park Road, S(557269)',
 '3, Yung Sheng Road, S(618499)',
 'Blk 69, Geylang Bahru, S(330069)',
 'Blk 254, Jurong East Street 24, S(600254)',
 'Blk 538, Bedok North Street 3, S(460538)',
 '166, Jalan Besar, S(208877)',
 'Blk 58, New Upper Changi Road, S(461058)',
 'Blk 726, Clementi West Street 2, S(120726)',
 'Blk 347, Jurong East Ave 1, S(600347)',
 'Blk 29, Bendemeer Road, S(330029)',
 'Blk 208B, New Upper Changi Road, S(462208)',
 'Blk 502, West Coast Drive, S(120502)',
 'Blk 1, Jalan Kukoh, S(161001)',
 'Blk 105, Hougang Ave 1, S(530105)',
 'Blk 505, Jurong West Street 52, S(640505)',
 'National Development Building, Annex B, Telok Ayer Street, S(069111)',
 'Blk 527, Ang Mo Kio Ave 10, S(560527)',
 'Blk 209, Hougang Street 21, S(530209)',
 'Blk 210, Lorong 8 Toa Payoh, S(310210)',
 'Blk 724, Ang Mo Kio Ave 6, S(560724)',
 'Blk 226H, Ang Mo Kio Street 22, S(568226)',
 'Blk 665, Buffalo Road, S(210665)',
 'Blk 20, Ghim Moh Road, S(270020)',
 '121, Pasir Panjang Road, S(118543)',
 'Blk 79, Redhill Lane, S(150079)',
 'Blk 80, Circuit Road, S(370080)',
 'Blk 84, Marine Parade Central, S(440084)',
 '1, Kadayanallur Street, S(069184)',
 '30, Seng Poh Road, S(168898)',
 'Blk 44, Holland Drive, S(270044)',
 'Blk 4A, Jalan Batu, S(432004)',
 'Blk 91/92, Whampoa Drive, S(320091/320092)',
 'Blk 6, Tanjong Pagar Plaza, S(081006)',
 'Blk 448, Clementi Ave 3, S(120448)',
 '70, Zion Road, S(247792)',
 'Blk 127, Lorong 1 Toa Payoh, S(310127)',
 '31, Commonwealth Crescent, S(149644)',
 'Blk 221A/B, Boon Lay Place, S(641221/642221)',
 'Blk 226D, Ang Mo Kio Ave 1, S(564226)',
 '271, Onan Road, S(424768)',
 'Blk 50A, Marine Terrace, S(441050)',
 'Blk 93, Lorong 4 Toa Payoh, S(310093)',
 'Blk 22, Lorong 7 Toa Payoh, S(310022)',
 '51, Upper Bukit Timah Road, S(588215)',
 'Blk 320, Shunfu Road, S(570320)',
 'Blk 453A, Ang Mo Kio Ave 10, S(561453)',
 'Blk 115, Bukit Merah View, S(151115)',
 'Blk 104/105, Yishun Ring Road, S(760104/760105)',
 'Blk 4A, Eunos Crescent, S(402004)',
 '49A, Serangoon Garden Way, S(555945)',
 'Blk 160/162, Ang Mo Kio Ave 4, S(560160/560162)',
 'Blk 7, Empress Road, S(260007)',
 '17, Old Airport Road, S(397972)',
 'Blk 37A, Teban Garden Road, S(601037)',
 'Blk 36, Telok Blangah Rise, S(090036)',
 'Blk 49, Sims Place, S(380049)',
 '590, Upper Thomson Road, S(574419)',
 'Blk 41A, Cambridge Road, S(211041)',
 'Blk 22A/B, Havelock Road, S(161022/162022)',
 'Blk 216, Bedok North Street 1, S(460216)',
 '505, Beach Road, S(199583)',
 'Blk 82, Telok Blangah Drive, S(100082)',
 'Blk 90, Whampoa Drive, S(320090)',
 'Geylang Serai, S(402001)',
 'Blk 503, West Coast Drive, S(120503)',
 'Blk 117, Aljunied Ave 2, S(380117)',
 'Blk 630, Bedok Reservoir Road, S(470630)',
 'Blk 628, Ang Mo Kio Ave 4, S(560628)',
 '1220, East Coast Parkway, S(468960)',
 'Blk 335, Smith Street, S(050335)',
 '2, Adam Road, S(289876)',
 'Blk 16, Bedok South Road, S(460016)',
 'Blk 85, Bedok North Street 4, S(460085)',
 'Blk 79/79A, Circuit Road, S(370079/371079)',
 'Blk 75, Lorong 5 Toa Payoh, S(310075)',
 '1, Bedok Road, S(469572)',
 'Blk 2/3, Changi Village Road, S(500002/500003)',
 'Blk 112, Jalan Bukit Merah, S(160112)',
 'Blk 4A, Woodlands Centre Road, S(731004)',
 'Blk 531A, Upper Cross Street, S(051531)',
 'Blk 74, Lorong 4 Toa Payoh, S(310074)',
 'Blk 79, Telok Blangah Drive, S(100079)',
 'Blk 1A/ 2A/ 3A, Commonwealth Drive, S(141001/141002/141003)',
 '861, North Bridge Road, S(198783)',
 '38A, Beo Crescent, S(169982)',
 'Blk 20/21, Marsiling Lane, S(730020/730021)',
 'Blk 341, Ang Mo Kio Ave 1, S(560341)',
 'Blk 409, Ang Mo Kio Ave 10, S(560409)',
 'Blk 511, Bedok North Street 3, S(460511)',
 'Blk 17, Upper Boon Keng Road, S(380017)',
 '1, Lorong Mambong, S(277700)',
 '50, Market Street, Golden Shoe Multi-Storey Car Park, 2nd/3rd Storey, S(048940)',
 '500, Clemenceau Ave North, S(229495)',
 '48A, Tanglin Halt Road, S(148813)',
 'Blk 51, Old Airport Road, S(390051)',
 'Blk 353, Clementi Ave 2, S(120353)',
 'Blk 159, Mei Chin Road, S(140159)',
 'Blk 11, Telok Blangah Crescent, S(090011)']

In [13]:
hawker_address = [x[:-1] for x in hawker_address]
hawker_address = [x[-6:] for x in hawker_address]

In [14]:
hawker_address

['370089',
 '521137',
 '150006',
 '430014',
 '150163',
 '150120',
 '180270',
 '150085',
 '050032',
 '557269',
 '618499',
 '330069',
 '600254',
 '460538',
 '208877',
 '461058',
 '120726',
 '600347',
 '330029',
 '462208',
 '120502',
 '161001',
 '530105',
 '640505',
 '069111',
 '560527',
 '530209',
 '310210',
 '560724',
 '568226',
 '210665',
 '270020',
 '118543',
 '150079',
 '370080',
 '440084',
 '069184',
 '168898',
 '270044',
 '432004',
 '320092',
 '081006',
 '120448',
 '247792',
 '310127',
 '149644',
 '642221',
 '564226',
 '424768',
 '441050',
 '310093',
 '310022',
 '588215',
 '570320',
 '561453',
 '151115',
 '760105',
 '402004',
 '555945',
 '560162',
 '260007',
 '397972',
 '601037',
 '090036',
 '380049',
 '574419',
 '211041',
 '162022',
 '460216',
 '199583',
 '100082',
 '320090',
 '402001',
 '120503',
 '380117',
 '470630',
 '560628',
 '468960',
 '050335',
 '289876',
 '460016',
 '460085',
 '371079',
 '310075',
 '469572',
 '500003',
 '160112',
 '731004',
 '051531',
 '310074',
 '100079',
 '141003',
 '198783',
 '169982',
 '730021',
 '560341',
 '560409',
 '460511',
 '380017',
 '277700',
 '048940',
 '229495',
 '148813',
 '390051',
 '120353',
 '140159',
 '090011']

In [15]:
len(hawker_address)

107

In [16]:
# find_postal(hawker_address, 'hawker_coordinates')

In [17]:
hawkerlocation_df = pd.read_csv('hawker_coordinates.csv')
hawkerlocation_df = hawkerlocation_df.drop(columns=['ADDRESS'])

In [18]:
hawkerlocation_df

,Unnamed: 0,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,0,MARKET & HAWKER CENTRE (BLKS 20/21 MARSILING L...,21,MARSILING LANE,MARKET & HAWKER CENTRE (BLKS 20/21 MARSILING L...,730021,21756.033111,47277.163037,1.443832,103.777210,103.777210,730021
1,1,MARSILING LANE MARKET & COOKED FOOD CENTRE,21,MARSILING LANE,MARSILING LANE MARKET & COOKED FOOD CENTRE,730021,21755.097618,47287.482967,1.443925,103.777202,103.777202,730021
2,0,DBS TELOK BLANGAH RISE,36,TELOK BLANGAH RISE,DBS TELOK BLANGAH RISE,90036,26743.489737,28343.943518,1.272607,103.822028,103.822028,90036
3,1,TELOK BLANGAH RISE MARKET,36,TELOK BLANGAH RISE,TELOK BLANGAH RISE MARKET,90036,26780.789700,28360.999769,1.272761,103.822364,103.822364,90036
4,0,DBS CLEMENTI WEST STREET 2,726,CLEMENTI WEST STREET 2,DBS CLEMENTI WEST STREET 2,120726,20314.909390,31791.216699,1.303782,103.764264,103.764264,120726
...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,MARKET & HAWKER CENTRE (BLK 448 CLEMENTI AVENU...,448,CLEMENTI AVENUE 3,MARKET & HAWKER CENTRE (BLK 448 CLEMENTI AVENU...,120448,20343.061339,32845.842058,1.313320,103.764517,103.764517,120448
169,0,MARKET & HAWKER CENTRE (BLK 216 BEDOK NORTH ST...,216,BEDOK NORTH STREET 1,MARKET & HAWKER CENTRE (BLK 216 BEDOK NORTH ST...,460216,39117.792247,34365.596824,1.327063,103.933218,103.933218,460216
170,0,DBS EAST COAST LAGOON FOOD VILLAGE,1220,EAST COAST PARKWAY,DBS EAST COAST LAGOON FOOD VILLAGE,468960,39331.556190,32136.743773,1.306906,103.935138,103.935138,468960
171,1,EAST COAST LAGOON FOOD VILLAGE,1220,EAST COAST PARKWAY,EAST COAST LAGOON FOOD VILLAGE,468960,39293.916166,32176.032917,1.307261,103.934800,103.934800,468960
172,0,ANG MO KIO 628 MARKET,628,ANG MO KIO AVENUE 4,ANG MO KIO 628 MARKET,560628,28813.456032,40328.111060,1.380988,103.840628,103.840628,560628

In [19]:
hawkerlocation_df = hawkerlocation_df.loc[hawkerlocation_df['Unnamed: 0'] == 0]
hawkerlocation_df.dtypes

Unnamed: 0      int64
SEARCHVAL      object
BLK_NO         object
ROAD_NAME      object
BUILDING       object
POSTAL          int64
X             float64
Y             float64
LATITUDE      float64
LONGITUDE     float64
LONGTITUDE    float64
address         int64
dtype: object

In [20]:
hawkerlocation_df

,Unnamed: 0,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,0,MARKET & HAWKER CENTRE (BLKS 20/21 MARSILING L...,21,MARSILING LANE,MARKET & HAWKER CENTRE (BLKS 20/21 MARSILING L...,730021,21756.033111,47277.163037,1.443832,103.777210,103.777210,730021
2,0,DBS TELOK BLANGAH RISE,36,TELOK BLANGAH RISE,DBS TELOK BLANGAH RISE,90036,26743.489737,28343.943518,1.272607,103.822028,103.822028,90036
4,0,DBS CLEMENTI WEST STREET 2,726,CLEMENTI WEST STREET 2,DBS CLEMENTI WEST STREET 2,120726,20314.909390,31791.216699,1.303782,103.764264,103.764264,120726
6,0,BLK 210 LORONG 8 TOA PAYOH MARKET & FOOD CENTRE,210,LORONG 8 TOA PAYOH,BLK 210 LORONG 8 TOA PAYOH MARKET & FOOD CENTRE,310210,30398.726757,35819.803789,1.340216,103.854873,103.854873,310210
9,0,COMMONWEALTH CRESCENT MARKET,31,COMMONWEALTH CRESCENT,COMMONWEALTH CRESCENT MARKET,149644,24332.824777,32135.918667,1.306900,103.800367,103.800367,149644
...,...,...,...,...,...,...,...,...,...,...,...,...
167,0,CHOMP CHOMP FOOD CENTRE,20,KENSINGTON PARK ROAD,CHOMP CHOMP FOOD CENTRE,557269,31695.705834,38475.442464,1.364233,103.866527,103.866527,557269
168,0,MARKET & HAWKER CENTRE (BLK 448 CLEMENTI AVENU...,448,CLEMENTI AVENUE 3,MARKET & HAWKER CENTRE (BLK 448 CLEMENTI AVENU...,120448,20343.061339,32845.842058,1.313320,103.764517,103.764517,120448
169,0,MARKET & HAWKER CENTRE (BLK 216 BEDOK NORTH ST...,216,BEDOK NORTH STREET 1,MARKET & HAWKER CENTRE (BLK 216 BEDOK NORTH ST...,460216,39117.792247,34365.596824,1.327063,103.933218,103.933218,460216
170,0,DBS EAST COAST LAGOON FOOD VILLAGE,1220,EAST COAST PARKWAY,DBS EAST COAST LAGOON FOOD VILLAGE,468960,39331.556190,32136.743773,1.306906,103.935138,103.935138,468960
172,0,ANG MO KIO 628 MARKET,628,ANG MO KIO AVENUE 4,ANG MO KIO 628 MARKET,560628,28813.456032,40328.111060,1.380988,103.840628,103.840628,560628

In [21]:
hawker_location = set(hawkerlocation_df['address'])

In [22]:
hawker_location

{50032,
 50335,
 51531,
 69111,
 69184,
 81006,
 90011,
 90036,
 100079,
 100082,
 118543,
 120353,
 120448,
 120502,
 120503,
 120726,
 140159,
 141003,
 148813,
 149644,
 150006,
 150079,
 150085,
 150120,
 150163,
 151115,
 160112,
 161001,
 162022,
 168898,
 169982,
 180270,
 198783,
 199583,
 208877,
 210665,
 211041,
 229495,
 247792,
 260007,
 270020,
 270044,
 277700,
 289876,
 310022,
 310074,
 310075,
 310093,
 310127,
 310210,
 320090,
 320092,
 330029,
 330069,
 370080,
 370089,
 371079,
 380017,
 380049,
 380117,
 390051,
 397972,
 402001,
 402004,
 424768,
 430014,
 432004,
 440084,
 441050,
 460016,
 460085,
 460216,
 460511,
 460538,
 461058,
 462208,
 468960,
 469572,
 470630,
 500003,
 521137,
 530105,
 530209,
 555945,
 557269,
 560162,
 560341,
 560409,
 560527,
 560628,
 560724,
 561453,
 564226,
 568226,
 570320,
 574419,
 588215,
 600254,
 600347,
 601037,
 618499,
 640505,
 642221,
 730021,
 760105}

In [23]:
df = pd.DataFrame(hawker_address,columns=['address'])
df = df.astype('int64')

In [24]:
before = set(df['address'])

In [25]:
after = set(hawker_location)

In [26]:
missing = before.difference(after)
list(missing)

[731004, 48940]

Interesting error here, postal code 731004 and 48940 exists in some google searches, but there is a difference in the postal code found in onemap
before : after
731004 : 738937
48940  : 048418

In [27]:
add = "738937"
url= "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=Y&pageNum=1&searchVal="+add
response = requests.get(url)
data = json.loads(response.text)

temp_df = pd.DataFrame.from_dict(data["results"])
temp_df['address'] = 738937
temp_df

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,20 WOODLANDS CENTRE ROAD SINGAPORE 738937,20,WOODLANDS CENTRE ROAD,NIL,20 WOODLANDS CENTRE ROAD SINGAPORE 738937,738937,20931.3431511633,46747.1611687206,1.43903831450662,103.769799867546,103.769799867546,738937

In [28]:
add = "048418"
url= "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=Y&pageNum=1&searchVal="+add
response = requests.get(url)
data = json.loads(response.text) 

temp_df2 = pd.DataFrame.from_dict(data["results"])
temp_df2['address'] = 48418
temp_df2

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,MARKET STREET INTERIM HAWKER CENTRE,5,CROSS STREET,MARKET STREET INTERIM HAWKER CENTRE,5 CROSS STREET MARKET STREET INTERIM HAWKER CE...,048418,29731.6582916304,29337.9027270805,1.28159602980757,103.848878196508,103.848878196508,48418

In [29]:
hawkerlocation_df = pd.concat([hawkerlocation_df,temp_df,temp_df2])
hawkerlocation_df = hawkerlocation_df[['LATITUDE','LONGITUDE','address']]
hawkerlocation_df

             LATITUDE         LONGITUDE  address
0            1.443832         103.77721   730021
2            1.272607        103.822028    90036
4            1.303782        103.764264   120726
6            1.340216        103.854873   310210
9              1.3069        103.800367   149644
..                ...               ...      ...
169          1.327063        103.933218   460216
170          1.306906        103.935138   468960
172          1.380988        103.840628   560628
0    1.43903831450662  103.769799867546   738937
0    1.28159602980757  103.848878196508    48418

[107 rows x 3 columns]

In [30]:
mrtlocation_df = pd.read_csv("sgmrt.csv")
mrtlocation_df = mrtlocation_df[['Latitude','Longitude','STN_NAME']]
mrtlocation_df.head()

   Latitude   Longitude                STN_NAME
0  1.440585  103.800998   ADMIRALTY MRT STATION
1  1.316433  103.882893    ALJUNIED MRT STATION
2  1.369933  103.849553  ANG MO KIO MRT STATION
3  1.388093  103.905418       BAKAU LRT STATION
4  1.380018  103.772667     BANGKIT LRT STATION

In [31]:
schinput_df = pd.read_csv('School Location.csv')

#find_postal(schinput_df['school_name'], 'school_coordinates')

In [32]:
schinput_df

,school_name,url_address,address,postal_code,telephone_no,telephone_no_2,fax_no,fax_no_2,email_address,mrt_desc,...,nature_code,session_code,mainlevel_code,sap_ind,autonomous_ind,gifted_ind,ip_ind,mothertongue1_code,mothertongue2_code,mothertongue3_code
0,ADMIRALTY PRIMARY SCHOOL,https://admiraltypri.moe.edu.sg/,11 WOODLANDS CIRCLE,738907,63620598,na,63627512,na,ADMIRALTY_PS@MOE.EDU.SG,Admiralty Station,...,CO-ED SCHOOL,FULL DAY,PRIMARY,No,No,No,No,Chinese,Malay,Tamil
1,ADMIRALTY SECONDARY SCHOOL,http://www.admiraltysec.moe.edu.sg,31 WOODLANDS CRESCENT,737916,63651733,63654596,63652774,na,Admiralty_SS@moe.edu.sg,ADMIRALTY MRT,...,CO-ED SCHOOL,SINGLE SESSION,SECONDARY,No,No,No,No,Chinese,Malay,Tamil
2,AHMAD IBRAHIM PRIMARY SCHOOL,http://www.ahmadibrahimpri.moe.edu.sg,10 YISHUN STREET 11,768643,67592906,na,67592927,na,aips@moe.edu.sg,Yishun,...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,No,No,No,No,Chinese,Malay,Tamil
3,AHMAD IBRAHIM SECONDARY SCHOOL,http://www.ahmadibrahimsec.moe.edu.sg,751 YISHUN AVENUE 7,768928,67585384,na,67557778,na,aiss@moe.edu.sg,"CANBERRA MRT, YISHUN MRT",...,CO-ED SCHOOL,SINGLE SESSION,SECONDARY,No,No,No,No,Chinese,Malay,Tamil
4,AI TONG SCHOOL,http://www.aitong.moe.edu.sg,100 Bright Hill Drive,579646,64547672,na,64532726,na,AITONG_SCH@MOE.EDU.SG,Bishan MRT,...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,Yes,No,No,No,Chinese,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,ZHANGDE PRIMARY SCHOOL,http://www.zhangdepri.moe.edu.sg/,51 Jalan Membina,169485,62740357,na,62763042,na,ZHANGDE_PS@MOE.EDU.SG,Tiong Bahru MRT Station,...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,No,No,No,No,Chinese,Malay,Tamil
342,ZHENGHUA PRIMARY SCHOOL,http://www.zhenghuapri.moe.edu.sg,9 Fajar Road,679002,67697478,na,67636459,na,zhenghua_ps@moe.edu.sg,LRT: Fajar Station,...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,No,No,No,No,Chinese,Malay,Tamil
343,ZHENGHUA SECONDARY SCHOOL,http://www.zhenghuasec.moe.edu.sg,91 SENJA ROAD,677741,67639455,na,67633577,na,ZHENGHUA_SS@MOE.EDU.SG,JELAPANG LRT,...,CO-ED SCHOOL,SINGLE SESSION,SECONDARY,No,No,No,No,Chinese,Malay,Tamil
344,ZHONGHUA PRIMARY SCHOOL,http://www.zhonghuapri.moe.edu.sg,12 SERANGOON AVENUE 4,556095,62835413,na,62823882,na,zhonghua_ps@moe.edu.sg,"Ang Mo Kio MRT, Bishan MRT, Serangoon MRT",...,CO-ED SCHOOL,SINGLE SESSION,PRIMARY,No,No,No,No,Chinese,Malay,Tamil
345,ZHONGHUA SECONDARY SCHOOL,http://www.zhonghuasec.moe.edu.sg,13 SERANGOON AVENUE 3,556123,62824339,na,62823472,na,ZHONGHUA_SS@MOE.EDU.SG,SERANGOON MRT,...,CO-ED SCHOOL,SINGLE SESSION,SECONDARY,No,Yes,No,No,Chinese,Malay,na

In [33]:
schlocation_df = pd.read_csv('school_coordinates.csv')
schlocation_df = schlocation_df.loc[schlocation_df['Unnamed: 0'] == 0]
schlocation_df

,Unnamed: 0,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,0,ADMIRALTY PRIMARY SCHOOL,11,WOODLANDS CIRCLE,ADMIRALTY PRIMARY SCHOOL,11 WOODLANDS CIRCLE ADMIRALTY PRIMARY SCHOOL S...,738907,24296.625086,47144.770059,1.442635,103.800040,103.800040,ADMIRALTY PRIMARY SCHOOL
1,0,ADMIRALTY SECONDARY SCHOOL,31,WOODLANDS CRESCENT,ADMIRALTY SECONDARY SCHOOL,31 WOODLANDS CRESCENT ADMIRALTY SECONDARY SCHO...,737916,24559.047294,47504.787355,1.445891,103.802398,103.802398,ADMIRALTY SECONDARY SCHOOL
2,0,AHMAD IBRAHIM PRIMARY SCHOOL,10,YISHUN STREET 11,AHMAD IBRAHIM PRIMARY SCHOOL,10 YISHUN STREET 11 AHMAD IBRAHIM PRIMARY SCHO...,768643,27958.137143,46096.262768,1.433153,103.832942,103.832942,AHMAD IBRAHIM PRIMARY SCHOOL
3,0,AHMAD IBRAHIM SECONDARY SCHOOL,751,YISHUN AVENUE 7,AHMAD IBRAHIM SECONDARY SCHOOL,751 YISHUN AVENUE 7 AHMAD IBRAHIM SECONDARY SC...,768928,27599.387289,46417.708755,1.436060,103.829719,103.829719,AHMAD IBRAHIM SECONDARY SCHOOL
4,0,AI TONG SCHOOL,100,BRIGHT HILL DRIVE,AI TONG SCHOOL,100 BRIGHT HILL DRIVE AI TONG SCHOOL SINGAPORE...,579646,27966.808830,38071.919118,1.360583,103.833020,103.833020,AI TONG SCHOOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,0,ZHANGDE PRIMARY SCHOOL,51,JALAN MEMBINA,ZHANGDE PRIMARY SCHOOL,51 JALAN MEMBINA ZHANGDE PRIMARY SCHOOL SINGAP...,169485,27180.146899,29627.107530,1.284212,103.825952,103.825952,ZHANGDE PRIMARY SCHOOL
385,0,ZHENGHUA PRIMARY SCHOOL,9,FAJAR ROAD,ZHENGHUA PRIMARY SCHOOL,9 FAJAR ROAD ZHENGHUA PRIMARY SCHOOL SINGAPORE...,679002,20877.039543,40169.116913,1.379549,103.769314,103.769314,ZHENGHUA PRIMARY SCHOOL
386,0,ZHENGHUA SECONDARY SCHOOL,91,SENJA ROAD,ZHENGHUA SECONDARY SCHOOL,91 SENJA ROAD ZHENGHUA SECONDARY SCHOOL SINGAP...,677741,20453.853994,41144.063893,1.388366,103.765511,103.765511,ZHENGHUA SECONDARY SCHOOL
387,0,ZHONGHUA PRIMARY SCHOOL,12,SERANGOON AVENUE 4,ZHONGHUA PRIMARY SCHOOL,12 SERANGOON AVENUE 4 ZHONGHUA PRIMARY SCHOOL ...,556095,32055.776613,38029.916116,1.360203,103.869762,103.869762,ZHONGHUA PRIMARY SCHOOL
388,0,ZHONGHUA SECONDARY SCHOOL,13,SERANGOON AVENUE 3,ZHONGHUA SECONDARY SCHOOL,13 SERANGOON AVENUE 3 ZHONGHUA SECONDARY SCHOO...,556123,32018.853124,36725.564031,1.348407,103.869430,103.869430,ZHONGHUA SECONDARY SCHOOL

In [34]:
before = set(schinput_df['school_name'])
after = set(schlocation_df['address'])
missing = before.difference(after)
list(missing)

['SCHOOL OF THE ARTS, SINGAPORE']

For this case, its just a difference in the naming 

before                          : after
school of the arts, singapore   : SCHOOL OF THE ARTS (SOTA)

In [35]:
add = "SCHOOL OF THE ARTS"
url= "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=Y&pageNum=1&searchVal="+add
response = requests.get(url)
data = json.loads(response.text) 

temp_df3 = pd.DataFrame.from_dict(data["results"])
temp_df3['address'] = "SCHOOL OF THE ARTS"
temp_df3

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,SCHOOL OF THE ARTS (SOTA),1,ZUBIR SAID DRIVE,SCHOOL OF THE ARTS (SOTA),1 ZUBIR SAID DRIVE SCHOOL OF THE ARTS (SOTA) S...,227968,29710.4144953834,31302.6820281129,1.29936480411316,103.848687419363,103.848687419363,SCHOOL OF THE ARTS

In [36]:
schlocation_df = pd.concat([schlocation_df,temp_df3])
schlocation_df = schlocation_df[['LATITUDE','LONGITUDE','address']]
schlocation_df

             LATITUDE         LONGITUDE                         address
0            1.442635         103.80004        ADMIRALTY PRIMARY SCHOOL
1            1.445891        103.802398      ADMIRALTY SECONDARY SCHOOL
2            1.433153        103.832942    AHMAD IBRAHIM PRIMARY SCHOOL
3             1.43606        103.829719  AHMAD IBRAHIM SECONDARY SCHOOL
4            1.360583         103.83302                  AI TONG SCHOOL
..                ...               ...                             ...
385          1.379549        103.769314         ZHENGHUA PRIMARY SCHOOL
386          1.388366        103.765511       ZHENGHUA SECONDARY SCHOOL
387          1.360203        103.869762         ZHONGHUA PRIMARY SCHOOL
388          1.348407         103.86943       ZHONGHUA SECONDARY SCHOOL
0    1.29936480411316  103.848687419363              SCHOOL OF THE ARTS

[346 rows x 3 columns]

In [37]:
add = "city hall mrt"
url= "https://developers.onemap.sg/commonapi/search?returnGeom=Y&getAddrDetails=Y&pageNum=1&searchVal="+add
response = requests.get(url)
data = json.loads(response.text) 

temp_df4 = pd.DataFrame.from_dict(data["results"])

temp_df4['address'] = "city hall mrt"
temp_df4

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,CITY HALL MRT STATION (EW13 / NS25),150,NORTH BRIDGE ROAD,CITY HALL MRT STATION (EW13 / NS25),150 NORTH BRIDGE ROAD CITY HALL MRT STATION (E...,179100,30144.2503791479,30591.9008128252,1.29293672227779,103.852585580366,103.852585580366,city hall mrt
1,CITY HALL MRT STATION EXIT A,,NIL,CITY HALL MRT STATION EXIT A,CITY HALL MRT STATION EXIT A,NIL,30192.7711374983,30624.6704453975,1.2932330759348,103.853021562271,103.853021562271,city hall mrt
2,CITY HALL MRT STATION EXIT B,,NIL,CITY HALL MRT STATION EXIT B,CITY HALL MRT STATION EXIT B,NIL,30073.6413478041,30610.8982403949,1.29310853308826,103.851951129481,103.851951129481,city hall mrt
3,CITY HALL MRT STATION EXIT C,,NIL,CITY HALL MRT STATION EXIT C,CITY HALL MRT STATION EXIT C,NIL,30188.7357796412,30604.089306118,1.29304694763879,103.852985301431,103.852985301431,city hall mrt
4,CITY HALL MRT STATION EXIT D,,NIL,CITY HALL MRT STATION EXIT D,CITY HALL MRT STATION EXIT D,NIL,30064.1163160084,30654.5545705445,1.29350334620272,103.851865545882,103.851865545882,city hall mrt
5,OCBC CITY HALL MRT STATION,150,NORTH BRIDGE ROAD,OCBC CITY HALL MRT STATION,150 NORTH BRIDGE ROAD OCBC CITY HALL MRT STATI...,179100,30125.128883115,30619.5460454859,1.29318673733671,103.85241376747,103.85241376747,city hall mrt
6,CITY HALL MRT STATION,150,NORTH BRIDGE ROAD,CITY HALL MRT STATION,150 NORTH BRIDGE ROAD CITY HALL MRT STATION SI...,179100,30139.4703683555,30597.7816701867,1.29298990700923,103.852542630339,103.852542630339,city hall mrt
7,UOB CITY HALL MRT STATION,150,NORTH BRIDGE ROAD,UOB CITY HALL MRT STATION,150 NORTH BRIDGE ROAD UOB CITY HALL MRT STATIO...,179100,30139.4703986235,30597.7817004547,1.29298990728295,103.852542630611,103.852542630611,city hall mrt

In [38]:
cbdlocation_df = temp_df4.head(1)

cbdlocation_df = cbdlocation_df[['LATITUDE','LONGITUDE','address']]
cbdlocation_df

           LATITUDE         LONGITUDE        address
0  1.29293672227779  103.852585580366  city hall mrt

In [39]:
#Summarised location dataframes

In [40]:
cols = cbdlocation_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
cbdlocation_df = cbdlocation_df[cols]
cbdlocation_df.head()

         address          LATITUDE         LONGITUDE
0  city hall mrt  1.29293672227779  103.852585580366

In [41]:
cols = hdblocation_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
hdblocation_df = hdblocation_df[cols]
hdblocation_df.head()

                   address  LATITUDE   LONGITUDE
0      215 LOR 8 TOA PAYOH  1.341828  103.855108
1      118 LOR 1 TOA PAYOH  1.339563  103.844894
2        699 HOUGANG ST 52  1.375921  103.889190
3  483 CHOA CHU KANG AVE 5  1.375841  103.737757
5       486 ADMIRALTY LINK  1.456027  103.816100

In [42]:
cols = hawkerlocation_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
hawkerlocation_df = hawkerlocation_df[cols]
hawkerlocation_df.head()

   address  LATITUDE   LONGITUDE
0   730021  1.443832   103.77721
2    90036  1.272607  103.822028
4   120726  1.303782  103.764264
6   310210  1.340216  103.854873
9   149644    1.3069  103.800367

In [43]:
cols = schlocation_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
schlocation_df = schlocation_df[cols]
schlocation_df.head()

                          address  LATITUDE   LONGITUDE
0        ADMIRALTY PRIMARY SCHOOL  1.442635   103.80004
1      ADMIRALTY SECONDARY SCHOOL  1.445891  103.802398
2    AHMAD IBRAHIM PRIMARY SCHOOL  1.433153  103.832942
3  AHMAD IBRAHIM SECONDARY SCHOOL   1.43606  103.829719
4                  AI TONG SCHOOL  1.360583   103.83302

In [44]:
cols = mrtlocation_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
mrtlocation_df = mrtlocation_df[cols]
mrtlocation_df.head()

                 STN_NAME  Latitude   Longitude
0   ADMIRALTY MRT STATION  1.440585  103.800998
1    ALJUNIED MRT STATION  1.316433  103.882893
2  ANG MO KIO MRT STATION  1.369933  103.849553
3       BAKAU LRT STATION  1.388093  103.905418
4     BANGKIT LRT STATION  1.380018  103.772667

In [45]:
from geopy.distance import geodesic

def find_nearest(house, amenity, results):
    """
    this function finds the nearest locations from the 2nd table from the 1st address
    Both are dataframes with a specific format:
        1st column: any string column ie addresses taken from the "find_postal_address.py"
        2nd column: latitude (float)
        3rd column: longitude (float)
    Column name doesn't matter.
    """
    
    # first column must be address
    for index,flat in enumerate(house.iloc[:,0]):
        
        # 2nd column must be latitude, 3rd column must be longitude
        flat_loc = (house.iloc[index,1],house.iloc[index,2])
        flat_amenity = ['','',100]
        for ind, eachloc in enumerate(amenity.iloc[:,0]):
            amenity_loc = (amenity.iloc[ind,1],amenity.iloc[ind,2])
            distance = geodesic(flat_loc,amenity_loc)

            if distance < flat_amenity[2]:
                flat_amenity[0] = flat
                flat_amenity[1] = eachloc
                flat_amenity[2] = distance

        results[flat] = flat_amenity
    return results

In [46]:
# mrtdist = {}
# find_nearest(hdblocation_df, mrtlocation_df,mrtdist)
# mrtdist

In [47]:
# hawkerdist = {}
# find_nearest(hdblocation_df, hawkerlocation_df,hawkerdist)
# hawkerdist

In [48]:
# cbddist = {}
# find_nearest(hdblocation_df, cbdlocation_df,cbddist)
# cbddist

In [49]:
# schdist = {}
# find_nearest(hdblocation_df, schlocation_df,schdist)
# schdist

In [50]:
# mrtdist_df = pd.DataFrame.from_dict(mrtdist, orient='index',
#                        columns=['address', 'name','distance_mrt'])
# mrtdist_df.head()

In [51]:
# cbddist_df = pd.DataFrame.from_dict(cbddist, orient='index',
#                        columns=['address', 'name','distance_cbd'])
# cbddist_df.head()

In [52]:
# hawkerdist_df = pd.DataFrame.from_dict(hawkerdist, orient='index',
#                        columns=['address','name', 'distance_hawker'])
# hawkerdist_df.head()

In [53]:
# schdist_df = pd.DataFrame.from_dict(schdist, orient='index',
#                        columns=['address','name', 'distance_sch'])
# schdist_df.head()

In [54]:
# temp_df = schdist_df.merge(hawkerdist_df, left_on='address', right_on='address')

In [55]:
# temp_df = temp_df.merge(cbddist_df, left_on='address', right_on='address')
# temp_df = temp_df.merge(mrtdist_df, left_on='address', right_on='address')

In [56]:
# temp_df

In [57]:
# temp_df.to_csv('all_amenities_dist.csv')

In [58]:
all_amenities_dist_df = pd.read_csv('all_amenities_dist.csv')

In [59]:
value_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,108 ANG MO KIO AVE 4
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,602 ANG MO KIO AVE 5
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,465 ANG MO KIO AVE 10
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,601 ANG MO KIO AVE 5
...,...,...,...,...,...,...,...,...,...,...,...,...
122671,2022-03,YISHUN,EXECUTIVE,355,YISHUN RING RD,10 TO 12,146.0,Maisonette,1988,65 years 08 months,800000.0,355 YISHUN RING RD
122672,2022-03,YISHUN,EXECUTIVE,277,YISHUN ST 22,10 TO 12,146.0,Maisonette,1985,62 years 06 months,788000.0,277 YISHUN ST 22
122673,2022-03,YISHUN,EXECUTIVE,824,YISHUN ST 81,01 TO 03,142.0,Apartment,1987,64 years 09 months,800000.0,824 YISHUN ST 81
122674,2022-03,YISHUN,EXECUTIVE,828,YISHUN ST 81,01 TO 03,142.0,Apartment,1988,64 years 11 months,723000.0,828 YISHUN ST 81
122675,2022-03,YISHUN,EXECUTIVE,877,YISHUN ST 81,10 TO 12,145.0,Maisonette,1987,64 years 09 months,818000.0,877 YISHUN ST 81

In [60]:
complied_df = value_df.merge(all_amenities_dist_df, left_on='address', right_on='address')

In [61]:
complied_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,...,address,Unnamed: 0,name_x,distance_sch,name_y,distance_hawker,name_x.1,distance_cbd,name_y.1,distance_mrt
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,...,406 ANG MO KIO AVE 10,3798,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,city hall mrt,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
1,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 01 month,...,406 ANG MO KIO AVE 10,3798,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,city hall mrt,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
2,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,...,406 ANG MO KIO AVE 10,3798,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,city hall mrt,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
3,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,...,406 ANG MO KIO AVE 10,3798,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,city hall mrt,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
4,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,60 years 01 month,...,406 ANG MO KIO AVE 10,3798,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,city hall mrt,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122671,2022-03,YISHUN,3 ROOM,813B,YISHUN RING RD,07 TO 09,67.0,Model A,2018,95 years 03 months,...,813B YISHUN RING RD,314,PEIYING PRIMARY SCHOOL,0.2178494626658036 km,760105,1.6536747255974675 km,city hall mrt,13.944026951573466 km,KHATIB MRT STATION,0.06805026518778176 km
122672,2022-03,YISHUN,3 ROOM,813B,YISHUN RING RD,07 TO 09,67.0,Model A,2018,95 years 03 months,...,813B YISHUN RING RD,314,PEIYING PRIMARY SCHOOL,0.2178494626658036 km,760105,1.6536747255974675 km,city hall mrt,13.944026951573466 km,KHATIB MRT STATION,0.06805026518778176 km
122673,2022-03,YISHUN,4 ROOM,672C,YISHUN AVE 4,10 TO 12,93.0,Model A,2018,94 years 11 months,...,672C YISHUN AVE 4,1607,NORTHLAND PRIMARY SCHOOL,0.3463494722480279 km,760105,2.190533772663818 km,city hall mrt,13.912771884353369 km,KHATIB MRT STATION,1.0816216255248843 km
122674,2022-03,YISHUN,4 ROOM,509B,YISHUN AVE 4,13 TO 15,93.0,Model A,2018,95 years 02 months,...,509B YISHUN AVE 4,1283,ORCHID PARK SECONDARY SCHOOL,0.30370391055582474 km,760105,2.390471435640472 km,city hall mrt,13.436090410345793 km,KHATIB MRT STATION,0.8890922092840777 km
122675,2022-03,YISHUN,4 ROOM,509B,YISHUN AVE 4,10 TO 12,93.0,Model A,2018,95 years 01 month,...,509B YISHUN AVE 4,1283,ORCHID PARK SECONDARY SCHOOL,0.30370391055582474 km,760105,2.390471435640472 km,city hall mrt,13.436090410345793 km,KHATIB MRT STATION,0.8890922092840777 km

In [62]:
complied_df = complied_df.drop(columns=['Unnamed: 0','name_x.1'])
complied_df = complied_df.rename(columns={
                                        'name_x': 'nearest_school_name',
                                        'name_y': 'nearest_hawker_postalcode',
                                        'name_y.1': 'nearest_mrt_name'
                                        }
                                        )

In [63]:
complied_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,nearest_school_name,distance_sch,nearest_hawker_postalcode,distance_hawker,distance_cbd,nearest_mrt_name,distance_mrt
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
1,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 01 month,235000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
2,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,202000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
3,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,210000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km
4,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,60 years 01 month,220000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026 km,560409,0.18187892682440665 km,7.63852334091251 km,ANG MO KIO MRT STATION,1.0002190239027458 km

In [64]:
complied_df.dtypes

month                         object
town                          object
flat_type                     object
block                         object
street_name                   object
storey_range                  object
floor_area_sqm               float64
flat_model                    object
lease_commence_date            int64
remaining_lease               object
resale_price                 float64
address                       object
nearest_school_name           object
distance_sch                  object
nearest_hawker_postalcode      int64
distance_hawker               object
distance_cbd                  object
nearest_mrt_name              object
distance_mrt                  object
dtype: object

In [65]:
complied_df['month'].astype('datetime64')

0        2017-01-01
1        2017-05-01
2        2018-03-01
3        2018-03-01
4        2018-05-01
            ...
122671   2022-03-01
122672   2022-03-01
122673   2022-03-01
122674   2022-03-01
122675   2022-03-01
Name: month, Length: 122676, dtype: datetime64[ns]

In [66]:
complied_df["distance_sch"] = complied_df["distance_sch"].str[:-3]

In [67]:
complied_df["distance_hawker"] = complied_df["distance_hawker"].str[:-3]
complied_df["distance_cbd"] = complied_df["distance_cbd"].str[:-3]
complied_df["distance_mrt"] = complied_df["distance_mrt"].str[:-3]

In [68]:
complied_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,nearest_school_name,distance_sch,nearest_hawker_postalcode,distance_hawker,distance_cbd,nearest_mrt_name,distance_mrt
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026,560409,0.18187892682440665,7.63852334091251,ANG MO KIO MRT STATION,1.0002190239027458
1,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 01 month,235000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026,560409,0.18187892682440665,7.63852334091251,ANG MO KIO MRT STATION,1.0002190239027458
2,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,202000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026,560409,0.18187892682440665,7.63852334091251,ANG MO KIO MRT STATION,1.0002190239027458
3,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,210000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026,560409,0.18187892682440665,7.63852334091251,ANG MO KIO MRT STATION,1.0002190239027458
4,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,60 years 01 month,220000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.2181252401285026,560409,0.18187892682440665,7.63852334091251,ANG MO KIO MRT STATION,1.0002190239027458

In [69]:
complied_df["distance_sch"]  = complied_df["distance_sch"].astype('float')
complied_df["distance_hawker"] = complied_df["distance_hawker"].astype('float')
complied_df["distance_cbd"] = complied_df["distance_cbd"].astype('float')
complied_df["distance_mrt"] = complied_df["distance_mrt"].astype('float')

In [70]:
complied_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,nearest_school_name,distance_sch,nearest_hawker_postalcode,distance_hawker,distance_cbd,nearest_mrt_name,distance_mrt
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.218125,560409,0.181879,7.638523,ANG MO KIO MRT STATION,1.000219
1,2017-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 01 month,235000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.218125,560409,0.181879,7.638523,ANG MO KIO MRT STATION,1.000219
2,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,202000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.218125,560409,0.181879,7.638523,ANG MO KIO MRT STATION,1.000219
3,2018-03,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,60 years 02 months,210000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.218125,560409,0.181879,7.638523,ANG MO KIO MRT STATION,1.000219
4,2018-05,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,60 years 01 month,220000.0,406 ANG MO KIO AVE 10,TOWNSVILLE PRIMARY SCHOOL,0.218125,560409,0.181879,7.638523,ANG MO KIO MRT STATION,1.000219

In [71]:
complied_df.dtypes

month                         object
town                          object
flat_type                     object
block                         object
street_name                   object
storey_range                  object
floor_area_sqm               float64
flat_model                    object
lease_commence_date            int64
remaining_lease               object
resale_price                 float64
address                       object
nearest_school_name           object
distance_sch                 float64
nearest_hawker_postalcode      int64
distance_hawker              float64
distance_cbd                 float64
nearest_mrt_name              object
distance_mrt                 float64
dtype: object

In [72]:
hdblocation_df

                       address  LATITUDE   LONGITUDE
0          215 LOR 8 TOA PAYOH  1.341828  103.855108
1          118 LOR 1 TOA PAYOH  1.339563  103.844894
2            699 HOUGANG ST 52  1.375921  103.889190
3      483 CHOA CHU KANG AVE 5  1.375841  103.737757
5           486 ADMIRALTY LINK  1.456027  103.816100
...                        ...       ...         ...
11383    224A COMPASSVALE WALK  1.387882  103.898019
11384    212 JURONG EAST ST 21  1.339094  103.740392
11385     681C WOODLANDS DR 62  1.439789  103.803120
11386       403B FERNVALE LANE  1.388791  103.872980
11387       330 TAMPINES ST 32  1.353356  103.959532

[9209 rows x 3 columns]

In [73]:
complied_df = complied_df.merge(hdblocation_df,left_on = 'address', right_on='address')

In [74]:
complied_df.to_excel('resalevalue_withdist.xlsx')